<app-sidebar></app-sidebar>
<form class="d-flex gap-2 align-items-center" role="search">
  <input class="form-control" type="search" placeholder="Find a book" aria-label="Search">
  <div class="dropdown cursor-pointer" (click)="unreadNotificationsSubscription = 0">
   <i class="fas fa-bell position-relative h5" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">
        New alerts
    </span>
  </span>
   </i>
   <ul class="dropdown-menu">
    <li *ngFor="let notification of notificationss">
    <span class="dropdown-item cursor-pointer border-bottom">
      <i class="fas fa-bell">

      </i>&nbsp; {{notification.content}} :{{notification.notificationStatus}}
       </span>

    </li>
   </ul>
  </div>
  <img src="logo-devoteam.webp" alt="Devoteam Logo" width="100">
</form>
<div class="ticket-container">
  <div class="left-section">
    <!-- Formulaire d'ajout de ticket -->
    <div class="ticket-form">
      <h2>Add a Ticket</h2>
      <form (ngSubmit)="addTicket()">
        <label for="title">Title :</label>
        <input id="title" type="text" [(ngModel)]="ticket.title" name="title" required>
    
        <label for="description">Description :</label>
        <textarea id="description" [(ngModel)]="ticket.description" name="description" required></textarea>
    
        <label for="categoryType">Category :</label>
        <select id="categoryType" [(ngModel)]="ticket.categoryType" name="categoryType" required>
          <option value="Technical">Technical</option>
          <option value="Rh">Human Resources</option>
          <option value="Finance">Finance</option>
          <option value="Employee">Employee</option>
        </select>
    
    
        <button type="submit">ADD</button>
      </form>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>

</div>

</div>