<div>
    <script src="assets/static/js/initTheme.js"></script>
    <div id="auth">

        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="/dashboard"><img src="logo-devoteam.webp" alt="Logo"></a>
                    </div>
                    <h1 class="auth-title">Sign in.</h1>
                    <p class="auth-subtitle mb-5">Sign in with your devoteam's google account.</p>

                    <form action="/dashboard">
                        <button class="btn btn-danger btn-block btn-lg shadow-lg"> <i class="bi bi-google"></i> Sign in
                            avec Google</button>
                    </form>

                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right"></div>
            </div>
        </div>

    </div>
</div>